$primary_color: #171a29;
$primary_color--darker: #0c0e19;
$secondary_color: #660a11;
$tertiary_color: #090a10;
$main_text_color: #fff;

$success_color: #00500c;
$error_color: #bb7a7a;

$header_padding: 1rem;
$header_height: 6rem;

@font-face {
  font-family: 'Futura PT';
  src: url(/fonts/ftn45.eot);
  src: url(/fonts/ftn45.eot?#iefix) format('embedded-opentype'),
    url(/fonts/ftn45.woff2) format('woff2'),
    url(/fonts/ftn45.woff) format('woff'),
    url(/fonts/ftn45.ttf) format('truetype'),
    url(/fonts/ftn45.svg#futura_ptbook) format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Futura PT';
  src: url(/fonts/ftn46.eot);
  src: url(/fonts/ftn46.eot?#iefix) format('embedded-opentype'),
    url(/fonts/ftn46.woff2) format('woff2'),
    url(/fonts/ftn46.woff) format('woff'),
    url(/fonts/ftn46.ttf) format('truetype'),
    url(/fonts/ftn46.svg#futura_ptbook_oblique) format('svg');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Futura PT';
  src: url(/fonts/ftn65.eot);
  src: url(/fonts/ftn65.eot?#iefix) format('embedded-opentype'),
    url(/fonts/ftn65.woff2) format('woff2'),
    url(/fonts/ftn65.woff) format('woff'),
    url(/fonts/ftn65.ttf) format('truetype'),
    url(/fonts/ftn65.svg#futura_ptdemi) format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Futura PT';
  src: url(/fonts/ftn66.eot);
  src: url(/fonts/ftn66.eot?#iefix) format('embedded-opentype'),
    url(/fonts/ftn66.woff2) format('woff2'),
    url(/fonts/ftn66.woff) format('woff'),
    url(/fonts/ftn66.ttf) format('truetype'),
    url(/fonts/ftn66.svg#futura_ptdemi_oblique) format('svg');
  font-weight: 700;
  font-style: italic;
}

html {
  font-family: 'Futura PT', sans-serif;
  font-size: 62.5%;
}

@media (max-width: 767px) {
  html {
    font-size: 40%;
  }
}

body {
  margin-top: $header_height;
  font-size: 1.6rem;
  background-color: $tertiary_color;
  color: $main_text_color;
  line-height: 1.3;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img,
video {
  max-width: 100%;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.8rem;
}

h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 2.4rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $main_text_color;

  &:first-of-type {
    margin-top: 0;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 1rem;
}

hr {
  margin-bottom: 1rem;
}

a,
a:visited {
  color: inherit;
  text-decoration: none;
}

.visible {
  display: block;
  visibility: visible;
}

.hidden {
  display: none;
  visibility: invisible;
}

.spoiler- {
  &hidden,
  &visible {
    transition: 0.2s ease-in-out;
    user-select: none;
    cursor: pointer;
  }

  &hidden {
    filter: blur(4px) brightness(2);
  }

  &visible {
    filter: blur(0);
  }
}

.status-message {
  padding: 1rem;
  border-radius: 0.3rem;
  margin-bottom: 1rem;
  border: 0.1rem solid transparent;

  &--success {
    background-color: $success_color;
    border-color: lighten($success_color, 5%);
  }

  &--error {
    background-color: $error_color;
    border-color: lighten($error_color, 5%);
  }
}

.loading-spinner {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  display: block;
  margin: 0 auto;
}

.loading-spinner div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.loading-spinner div:nth-child(1) {
  animation-delay: -0.45s;
}
.loading-spinner div:nth-child(2) {
  animation-delay: -0.3s;
}
.loading-spinner div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotateZ(0deg);
  }

  100% {
    transform: rotateZ(359deg);
  }
}

.user-listing {
  padding: 1rem;
  display: flex;
  margin-bottom: 1rem;
  background-color: #1e1e1e;

  &__avatar {
    margin-right: 1rem;
  }
}

.user-banner {
  display: flex;
  align-items: flex-end;
  background-size: cover;
  background-position: center;
  box-shadow: 9999px 9999px rgba(0, 0, 0, 0.7) inset;
  z-index: 99;
  transition: 0.2s;
}

.user-banner,
.user-banner-padder {
  min-height: 35vh;
  margin-bottom: 2rem;
  margin-top: $header_height;
}

.user-banner.sticky {
  position: fixed;
  top: 0px;
  margin-top: $header_height;
  width: 100%;
  min-height: unset;
  padding: 2rem;
}

.user-banner.sticky .avatar {
  margin-right: 1rem;
}

.user-banner.sticky > .container {
  display: flex;
  align-items: flex-end;
}

.user-banner.sticky .user-profile-info {
  flex: 1;
}

.user-profile-name {
  font-size: 3.2rem;
  font-weight: 700;
}

.user-profile-stats {
  opacity: 0.7;
  margin-bottom: 2rem;
}

.user-banner.sticky .user-profile-stats {
  margin-bottom: 0;
}

.page-container {
  margin-top: 1rem;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99999;
  background-color: $primary_color--darker;

  &__inner {
    height: $header_height;
    padding: $header_padding 0;
    display: flex;
  }

  &__brand,
  &__user-info {
    align-items: center;
    display: flex;
    user-select: none;
  }

  &__brand {
    margin: 0;
    color: #fff;
    font-size: 3rem;
    font-weight: 700;
    margin-right: auto;
    height: 100%;
  }

  &__user-info {
    margin-left: auto;
    color: #fff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    min-width: 15%;
    position: relative;
    cursor: pointer;

    .current-user {
      font-weight: 700;
    }

    .avatar {
      margin-right: 1rem;
    }
  }
}

.user-actions {
  background-color: $primary_color--darker;
  position: absolute;
  top: calc(100% + #{$header_padding});
  left: 0;
  width: 100%;
  z-index: 99;

  a,
  span {
    padding: 1rem 2rem;
    display: block;
    transition: 0.2s ease-in-out;

    &:hover {
      background-color: $primary-color;
    }
  }
}

.avatar {
  height: 4rem;
  width: 4rem;
  background-size: cover;
  background-position: center;
  border-radius: 4px;

  &--large {
    height: 10rem;
    width: 10rem;
  }
}

input[type='submit'],
input[type='text'],
input[type='url'],
input[type='date'],
input[type='password'],
input[type='email'],
textarea,
select,
button,
.button {
  max-width: 100%;
  width: 100%;
  color: #fff;
  padding: 1.1rem 0.6rem;
  border-radius: 2px;
  outline: 0;
  border: 0;
  background-color: $primary_color;

  &.button--primary {
    background-color: $secondary_color;
  }
}

input,
textarea,
select,
button,
.button,
input[type='checkbox'] + label {
  margin-bottom: 1rem;
}

input[type='checkbox'] + label {
  margin-left: 1rem;
}

.button,
button,
input[type='submit'] {
  text-transform: uppercase;
  font-weight: lighter;
  letter-spacing: 1.5px;
}

label {
  display: inline-block;
}

.button {
  display: block;
  text-align: center;
}

.button--secondary {
  background-color: $tertiary_color;
}

.input-group {
  margin-bottom: 3rem;

  input,
  select {
    margin-bottom: 0;
  }
}

.input-description {
  color: #6b6b6b;
  font-size: 1.4rem;
}

label {
  color: #fff;
}

input::placeholder {
  color: #ccc;
}

textarea {
  height: 10rem;
  resize: vertical;
}

.sidebar {
  height: 100%;

  .sticky {
    position: sticky;
    top: calc(15rem + #{$header_height});
  }
}

.game-filters {
}

.game-filters select,
.game-filters input {
  width: 100%;
}

.flex-center-vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.front-page-hero {
  min-height: 50vh;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 18rem 0 18rem 0;
  background-color: #05182c;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(240)'%3E%3Cstop offset='0' stop-color='%2305182c'/%3E%3Cstop offset='1' stop-color='%232b4a69'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='540' height='450' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.1'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  /*background-image: url(https://steamuserimages-a.akamaihd.net/ugc/549807946778567011/BED1DE2E2E3D1D314768C3B66493EF68D020E66C/);*/
  background-position: center;
  text-align: justify;
  color: #fff;
  background-color: $primary_color;
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 99999px 99999px inset;

  video {
    height: 300px;
  }

  @media (max-width: 767px) {
    padding: 7rem 0 7rem 0;
  }

  hr {
    margin: 2rem 0 2rem 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #fff;
  }

  input,
  .users-list li a {
    background-color: rgba(0, 0, 0, 0.7);
  }

  form {
    margin-top: 1rem;
  }

  .users-list {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style-type: none;
    flex-wrap: wrap;
  }
}

.front-page-hero-actions {
  display: flex;
  justify-content: space-between;

  .button {
    max-width: 48%;
  }
}

.sign-in-up {
  margin-top: 4rem;
}

/*.toggle-new-game-form-container__inner{
    position: fixed;
    bottom: 3%;
    right: 2%;
    width: 5.5rem;
    height: 5.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ccc;
    color: $primary_color;
    border-radius: 100%;
    box-shadow: #0c0c0c 0px 0px 20px -6px;

    > span{
        font-size: 5rem;
        margin-bottom: 0.5rem;
    }
}

.toggle-new-game-form-container{
}*/

.new-game-form-container {
  z-index: 99999;
  color: #fff;
  top: 10%;
  right: 1%;
  //position: fixed;
  padding-bottom: 3rem;
  margin-bottom: 4rem;
  border-bottom: 1px solid #303030;
  //background-color: $primary_color;
  //padding: 2rem;
  //border-radius: 8px;
  //box-shadow: $primary_color 0px 0px 20px -10px;

  input,
  textarea,
  select,
  button {
    //filter: brightness(0.8);
    color: #fff;
    //border-radius: 8px;

    &:target,
    &:active,
    &:focus {
      filter: brightness(1.2);
    }
  }
}

.games-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.game-box {
  position: relative;
  text-align: center;
  width: 37rem;

  @media (max-width: 767px) {
    width: 100%;
  }

  height: 22rem !important;
  margin: 0.2rem;
  color: #fff;
  background-size: cover;
  background-position: center;
  box-shadow: 9999px 9999px rgba(0, 0, 0, 0.4) inset;
  overflow: hidden;
  text-shadow: 2px 2px #000;
}

.game-box:hover {
  overflow: hidden;
  box-shadow: 9999px 9999px rgba(0, 0, 0, 0.7) inset;
}

.game-box__loading {
  height: 100%;
  background-color: #ccc;
  animation: loading 1s infinite;
}

@keyframes loading {
  0% {
    transform: translateX(0%);
  }

  50% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0%);
  }
}

.game-box__image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.game-box__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.game-box__content,
.game-box__hover-wrapper {
  transition: 0.3s ease-in-out;
  display: flex;
  padding: 1.6rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  overflow: hidden;
}

.game-box:hover .game-box__content {
  opacity: 0;
  overflow: hidden;
  visibility: hidden;
  transform: scale(0.5);
  height: 240px !important;
}

.game-box__hover-wrapper {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  text-align: center;
}

.game-box:hover .game-box__hover-wrapper {
  opacity: 1;
}

.game-box__hover-content {
  overflow: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
  transition: 0.3s ease-in-out;
  opacity: 0;
  white-space: pre-wrap;
  transform: translateX(100%);
  height: 100%;
}

.game-box:hover .game-box__hover-content {
  transform: translateX(0px);
  opacity: 1;
}

.game-box__hover-content-inner {
  margin: auto;
  width: 100%;
  overflow-x: hidden;
}

.game-box__hover-wrapper i {
  color: #fff;
}

.game-box__hours,
.game-box__system,
.game-box__status,
.game-box__date:not(:empty) {
  min-height: 3rem;
}

.game-box__title {
  margin: auto;
  font-size: 2.5rem;
  font-weight: 700;
}

.game-box__hours {
  margin: auto auto 0 auto;
}

.game-box__icon {
  display: block;
  position: absolute;
  z-index: 99;
  user-select: none;
}

.game-box__achievements {
  top: 2%;
  left: 2%;

  &--perfect i {
    color: #ffcb49;
  }
}

.game-box__open-background {
  top: 2%;
  right: 2%;
}

.game-box__edit {
  left: 2%;
  bottom: 2%;
  cursor: pointer;
}

.game-box__delete {
  right: 2%;
  bottom: 2%;
  cursor: pointer;
}

.front-page-features {
  padding: 5rem 0;
}

.feature {
  text-align: center;
  margin-bottom: 4rem;

  i {
    font-size: 7.5rem;
  }

  &__title {
    font-size: 2.3rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
}

.front-page-information {
  padding: 5rem 0;
  background-color: $primary-color;
}

.information-icon {
  text-align: center;

  @media (max-width: 767px) {
    margin-bottom: 4rem;
  }

  i {
    font-size: 7.5rem;
  }
}

.information-row {
  margin-bottom: 4rem;
  text-align: justify;
}
